
@{
    ViewBag.Title = "CartNull";
}
<div style="margin-top:100px">
    <h2>Cart is Null</h2>
    <button class="btn btn-outline-success">@Html.ActionLink("Add Something To Cart", "BuyerDisplayAllProduct", "Buyer")</button>
</div>