@model RepoPractice.Models.OrderModel

<div style="margin-top:100px">
    @using (Html.BeginForm("OrderConfirmed", "Buyer", FormMethod.Post))
    {
        <input type="radio" id="COD" name="ModeOfPayment" value="COD">
        <label for="COD">COD</label><br>
        <input type="radio" id="Wallet" name="ModeOfPayment" value="Wallet">
        <label for="Wallet">Wallet</label><br>
        <button type="submit" class="btn btn-primary">Order</button>
    }
</div>